<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario Paciente</title>
</head>
<body>
<h1>Formulario Paciente</h1>
<form th:action="@{'paciente/nuevo'}" method="post" th:object="${paciente}">
<!--   Crear los inputs para id, nombre y edad del paciente - boton submit -->
    <label for="idPaciente">ID</label><
    <input type="number" id="idPaciente" th:field="*{idPaciente}" required="">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:field="*{nombre}" required="">
    <label for="edad">Edad</label>
    <input type="number" id="edad" th:field="*{edad}">
    <input type="submit" value="Enviar Información">

</form>

</body>
</html>